[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcppCWB"]
	path = RcppCWB
	url = https://github.com/polmine/rcppcwb
[submodule "polmineR"]
	path = polmineR
	url = https://github.com/polmine/polminer
